@charset "utf-8";
/* CSS Document */

.tool-box .color-picker,
.tool-box .color-brush
{
	border:1px solid green;
}
.tool-box .color-picker ul li,
.tool-box .color-brush
{
	background-color:green;
	
}

.navbar-brand span,
.navbar-dark .navbar-nav .nav-link.active,
.about p span,
.faeture-item i,
.testimonials span,
.footer h3,
.footer .copy-right span{
	color:green;
}




.testimonials .carousel-indicators li{
	border:3px solid green;
}


	